.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


table {
  width: 100%;
}

/* .mat-row {
  cursor: pointer;
} */

.mat-stroked-button {
  margin-right: 10px;
}

.actions-col {
  width: 90px;
}
