<mat-card>
  <mat-card-header>

    <mat-card-title>Create Post</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->

  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <app-post-textarea [(post)]="post"></app-post-textarea>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="createPost()" class="card-action">CREATE POST</button>
  </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>

<mat-card *ngFor="let post of posts$ | async">
  <mat-card-header>

    <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>

    <button mat-icon-button (click)="editPost(post)" class="card-action" *ngIf="!post.editing">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content *ngIf="post.editing">
    <app-post-textarea [post]="post"></app-post-textarea>
  </mat-card-content>
  <mat-card-content *ngIf="!post.editing">
    <p>
      <ng-container *ngFor="let segment of post.segments">
        {{ segment.text }}

        <span *ngIf="segment.employee" class="user-highlight" (click)="openEmployeeDetails(segment.employee)">{{
          segment.text }}</span>
      </ng-container>
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="post.editing">
    <button mat-button class="card-action" (click)="cancelEdit(post)">CANCEL</button>
    <button mat-button class="card-action">UPDATE POST</button>
  </mat-card-actions>
</mat-card>

<ng-template #templateRef let-employee>
  <h1>{{ employee.name }}</h1>
  <mat-divider></mat-divider>
  <p>Username: {{ employee.username }}</p>
  <p>Phone: {{ employee.phone }}</p>
  <p>Role: {{ employee.role }}</p>

</ng-template>