<mat-card>

  <mat-card-header>
    <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>
    <button mat-icon-button (click)="editPost(post)" class="card-action" *ngIf="!editing">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content *ngIf="editing">
    <app-post-textarea [post]="post"></app-post-textarea>
  </mat-card-content>

  <mat-card-content *ngIf="!editing">
    <ng-container *ngFor="let segment of segments">
      <span *ngIf="segment.employee" class="user-highlight" (click)="openEmployeeDetails(segment.employee)">
        {{ segment.text }}
      </span>
      <ng-container *ngIf="!segment.employee">
        {{ segment.text }}
      </ng-container>
    </ng-container>
  </mat-card-content>

  <mat-card-actions *ngIf="editing">
    <button mat-button color="warn" (click)="cancelEdit(post)">CANCEL</button>
    <button mat-button color="accent" (click)="update()">UPDATE POST</button>
  </mat-card-actions>

</mat-card>

<ng-template #details let-employee>
  <h1>{{ employee.name }}</h1>
  <mat-divider></mat-divider>
  <p>Username: {{ employee.username }}</p>
  <p>Phone: {{ employee.phone }}</p>
  <p>Role: {{ employee.role }}</p>
</ng-template>